{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "player": "Collide",
    "building": "Collide",
    "ore": "Unset",
    "melting": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "player"
    },
    {
      "a": "trigger",
      "b": "trigger"
    },
    {
      "a": "solid",
      "b": "player"
    },
    {
      "a": "trigger",
      "b": "player"
    },
    {
      "a": "building",
      "b": "building",
      "r": "Collide"
    },
    {
      "a": "ore",
      "b": "melting",
      "r": "Ignore"
    }
  ],
  "__guid": "5089ea4d-6a68-4cc0-bf2b-f379b553a7a7",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}